version: "3.8"

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: cms-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./src:/var/www/html
    depends_on:
      - php
    networks:
      - cms-net

  php:
    build:
      context: ./php
    container_name: cms-php
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    networks:
      - cms-net

  db:
    image: postgres:16
    container_name: cms-postgres
    environment:
      POSTGRES_DB: drupal
      POSTGRES_USER: drupal
      POSTGRES_PASSWORD: drupal
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - cms-net

networks:
  cms-net:

volumes:
  pgdata:
