POSTGRES_DB=drupal
POSTGRES_USER=drupal
POSTGRES_PASSWORD=CHANGE_ME

TELEGRAM_CHAT_ID=CHANGE_ME
TELEGRAM_TOKEN=CHANGE_ME

ALERT_ADDRESS_TO=CHANGE_ME
ALERT_GMAIL_USER=CHANGE_ME
ALERT_GMAIL_APP_PASS=CHANGE_ME
